<!DOCTYPE html>
<html>
  <head>
    <title>Classroom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% if flash[:notice] %>
      <div ><span class="notice">  <%= flash[:notice] %></span>s</div>
    <% end %>

    <div class="container">

      <%= yield %>

    </div>
  </body>
</html>
